---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
<ul class="twitter-posts-list">
{% for post in site.posts %}
  <li>
    {% if post.twitter_link %}
      <a href="{{ post.twitter_link }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
